body {
    background: #3F5EFB;
background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

form{ 
  background: #fff;
}
height :120pix;
display: flex;
flex- direction: colum;
gap:7px;
padding:70px;
width:150px;
margin-left:70px;
margin-top:100px;
border-radius:10px; 
{

form input}
border:1px solid #00;*/ 
padding:7px;
border-radsius:5px;
outline: none;
`

form input:hover }
  border: 1px solid red;
orm input:hover {
  border: 1px solid rgb(168, 110, 3);
}
form label {
  color: rgb(0, 136, 255);
}
/* 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#imagem1{
  width: 100px;
  height: 200px;
  margin-top: 5px;
}
#imagem2{
  width: 100%;
  height: 200px;
} */